# /opt/lampp/htdocs/infinityAdmin/admin/.htaccess

RewriteEngine On

# Redirect requests like /admin/signin.php to /admin/pages/signin.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\.php$ pages/$1.php [L]
